//General Colors

$primary-color: rgb(4, 191, 157);
$secondary-color: rgb(212, 139, 112);
$tx-decoration-color: rgb(119, 119, 119);
$bd-dashed-color: rgb(255, 255, 255);
$bg-navbar-color: rgb(255, 255, 255);
$bg-ifood-color: rgb(242, 5, 48);
$bg-whatsapp-color: rgb(37, 211, 102);
$bg-instagram-color: rgb(225, 48, 108);