//General Colors

$primary-color: rgb(4, 191, 157);
$secondary-color: rgb(212, 139, 112);
$background-gradient: rgb(4, 191, 157);
$background-gradient2: #FED9DF;

$border-color: rgb(212, 139, 112) !important; 